body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-background);
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    border: none;
}

.cursor-pointer {
    cursor: pointer;
}